.slick-arrow {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    font-size: 21px;
    color: rgb(216, 216, 216);
    cursor: pointer;
    z-index: 20;
    @apply tw-rounded-full tw-bg-black tw-p-2
  }
  
  .right-arrow {
    right: 30px;
  }
  
  .left-arrow {
    left: 30px;
  }